<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/', 'entries']"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Entry</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'entries', entryId, 'history']">
        <ion-icon name="book"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <quill-editor trackChanges="all" [modules]="modules" (onEditorCreated)="onEditorCreated($event)">
  </quill-editor>
</ion-content>
